@font-face {
  font-family: "Mono";
  src: url(./assest/fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "MonoBlod";
  src: url(./assest/fonts/Space_Mono/SpaceMono-Bold.ttf);
}

:root {
  /* ### Primary */

  --Green400: hsl(172, 67%, 45%);

  /* ### Neutral */

  --Green900: hsl(183, 100%, 15%);
  --Green800: hsl(183, 85%, 21%);
  --Green750: hsl(183, 79%, 24%);
  --Green200: hsl(173, 61%, 77%);
  --Grey500: hsl(186, 14%, 43%);
  --Grey550: hsl(180, 18%, 40%);
  --Grey400: hsl(184, 14%, 56%);
  --Grey300: hsl(184, 19%, 68%);
  --Grey200: hsl(185, 41%, 84%);
  --Grey50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mono";
  font-weight: 700;
  background-color: var(--Grey200);
}

h1 {
  font: 48px / 71px "MonoBlod";
  color: var(--Green400);
  word-spacing: 1px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: var(--Grey500);
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 87.86px;
}

#card {
  width: 920px;
  height: 481px;
  padding: 2rem;
  background-color: var(--White);
  border-radius: 25px;
  box-shadow: 0px 32px 43px 0 rgba(79, 166, 175, 20.07%);
}

#content {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

#input-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.error-text {
  display: none;
  color: red;
}

.error-input {
  border: 2px solid red;
}

.error-input:focus {
  text-align: right;
  border-color: red;
}

.acvitve-input {
  border: 2px solid transparent;
}

#select-tip {
  width: 379px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

#tips-button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#btn-input {
  width: 116px;
  height: 48px;
  background-color: var(--Grey50);
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  font: 1.5rem / 2.25rem "MonoBlod";
  color: var(--Grey550);
  text-align: center;
}

#btn-input::placeholder {
  font: 24px / 36px "MonoBlod";
  text-align: center;
}

#btn-input:focus {
  text-align: center;
}

#btn-input:hover {
  cursor: pointer;
}

.area-input {
  position: relative;
  width: 379px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.text-input {
  width: 379px;
  height: 48px;
  padding: 6px 18.13px;
  background-color: var(--Grey50);
  font: 1.5rem / 2.25rem "MonoBlod";
  text-align: right;
  color: var(--Green900);
  border-radius: 5px;
  outline: none;
  caret-color: var(--Green400);
}

.text-input::placeholder {
  font: 24px / 36px "Mono";
  color: var(--Grey300);
  text-align: right;
}

.text-input:focus {
  text-align: right;
  border-color: var(--Green400);
}

.text-input:hover {
  cursor: pointer;
  border-color: var(--Green400);
}

.area-input svg {
  position: absolute;
  top: 48.27px;
  left: 18.13px;
}

.scale-button {
  width: 116px;
  height: 48px;

  font: 24px / 36px "MonoBlod";
  border: 0;
  border-radius: 5px;
}

.scale-button:hover {
  cursor: pointer;
  background-color: var(--Green200);
  color: var(--Green900);
}

.normal-button {
  background-color: var(--Green900);
  color: var(--White);
}

.click-button {
  color: var(--Green900);
  background-color: var(--Green400);
}

.click-button:hover {
  cursor: pointer;
}

#display-area {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--Green900);
  padding: 37.5px 40px;
}

#display-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
}

#calc-result {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.output-area {
  display: flex;
  justify-content: space-between;
}

.result-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-label > p:first-child {
  font: 1rem / 1.5rem "MonoBlod";
  color: white;
}

.result-label > p:last-child {
  font: 13px / 19px "MonoBlod";
  color: var(--Grey400);
}

.btn {
  background-color: var(--Green750);
  color: var(--Green800);
}

.reset-btn-active {
  color: var(--Green900);
  background-color: var(--Green400);
}

#reset-btn {
  width: 333px;
  height: 48px;
  border: 0;
  font: 20px / 30px "MonoBlod";
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--Green200);
  color: var(--Green900);
}

@media (max-width: 768px) {
  #container {
    justify-content: flex-start;
    padding-top: calc(env(safe-area-inset-top) + 30px);
    min-height: 100vh;
    gap: 41px;
    padding: 80px 80px 80px 80px;
  }

  #card {
    width: 100%;
    min-height: 800px;
    padding: 48px 80px;
  }

  #content {
    flex-direction: column;
    gap: 40px;
  }

  #input-area {
    gap: 1.5rem;
  }

  #select-tip {
    width: 100%;
    height: 100%;
  }

  .area-input {
    width: 100%;
  }

  .text-input {
    width: 100%;
  }

  .scale-button {
    width: 100%;
    height: 48px;
  }

  #calc-result {
    gap: 0.5rem;
  }

  #display-content {
    gap: 1rem;
  }
}

@media (max-width: 375px) {
  #container {
    justify-content: flex-start;
    padding-top: calc(env(safe-area-inset-top) + 30px);
    min-height: 100vh;
    gap: 41px;
  }

  #card {
    width: 100%;
    min-height: 100%;
    padding: 1.5rem;
  }

  #content {
    flex-direction: column;
    gap: 2rem;
  }

  #input-area {
    gap: 2rem;
  }

  #tips-button {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  #select-tip {
    width: 100%;
    height: 100%;
  }

  .area-input {
    width: 100%;
  }

  .text-input {
    width: 100%;
  }

  .scale-button {
    width: 100%;
    height: 48px;
  }

  #btn-input {
    width: 100%;
  }

  #display-area {
    padding: 25px 20px;
  }

  #display-content {
    gap: 5rem;
  }
}
